<h1>  New game</h1>

<h2><%= @letters %></h2>


<p>  what is the longest word you can find?</p>
<form action="score" method="POST" data-turbo="false">
  <input type="text" name="word">
    <input type="submit" value="Ask!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :test, @letters %>

</form>



<%= link_to 'turn back', score_path %>
